body{
    background-image: url(Cards/table.jpeg);
}

#card,img {
    width: 200px;
    height: 320px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 29px;
    display: flex;
}

#main {
    background-color: green;
    font-size: 30px;
    padding: 20px;
    width: 80px;
    margin: 0%;
    color: white;
}

#stop {
    background-color: red;
    font-size: 30px;
    padding: 20px;
    width: 80px;
    margin: 0%;
    color: yellow;
}

#reload {
    background-color: yellow;
    font-size: 30px;
    padding: 20px;
    width: 80px;
    margin: 0%;
    color: red;
}   

/* #gameTalk {
    background-color: white;
    font-size: 30px;
    padding: 20px;
    width: 80px;
    margin: 0%;
    color: black;
} */