body{
    background-image: url(Cards/table.jpeg);
}

#userCard,img {
    width: 200px;
    height: 320px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 29px;
    display: flex;
}

#comCard,img {
    width: 200px;
    height: 320px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 29px;
    display: flex;
}

#main {
    background-color: green;
    font-size: 15px;
    padding: 20px;
    width: 80px;
    height: 50px;
    margin: 0%;
    color: white;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px black;
}

#stand {
    background-color: red;
    font-size: 15px;
    padding: 20px;
    width: 80px;
    height: 50px;
    margin: 0%;
    color: yellow;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px black;
}

#reload {
    background-color: yellow;
    font-size: 15px;
    padding: 20px;
    width: 80px;
    height: 50px;
    margin: 0%;
    color: red;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px black;
}   

/* #gameTalk {
    background-color: white;
    font-size: 30px;
    padding: 20px;
    width: 80px;
    margin: 0%;
    color: black;
} */